.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.paginationButton {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.filters {
    margin-bottom: 20px;
}

.fade-in {
    -webkit-animation: fade-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: fade-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tires-product-filters form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tires-product-filters input[type="text"],
.tires-product-filters select {
    flex: 1;
    max-width: 200px;
}

.tires-product-filters button {
    flex: 0 0 auto;
}


.input-text {
    font-size: large;
}
